@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-body); /* Inter as default */
}

@layer utilities {
  .font-poppins {
    font-family: var(--font-sans);
  }
}

/* -----------------container---------------- */


.container {
    @apply mx-auto w-[1170px];
}

  .flex-center {
    @apply flex items-center justify-center;
  }

 .btn {
    @apply  px-12 py-4 rounded text-white font-semibold transition;
  }


  /* -------------color btn variants------------- */


.bg-primary {
    @apply bg-[#DB4444] hover:bg-[#8c1c1c];
  }